wp-config.php
node_modules
npm-debug.log
vendor
wordpress
composer.lock
.data
wp-content/themes/*/library/build
wp-content/plugins
wp-content/uploads

# these are customized by the setup
composer.json
deploy-exclude-list.txt
deploy.sh
gulpfile.js
package.json

